In [3]:
import time
start=time.time()
for i in range(10):
  print(i)
end=time.time()
print(end-start)

0
1
2
3
4
5
6
7
8
9
0.002895355224609375

In [5]:
import time
start=time.time()
for i in range(100):
  print(i)
end=time.time()
print(end-start)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0.047441959381103516

In [6]:
# disadvantage
start=time.time()
i=1
while i!=100:
  print(i)
  i=i+1
end=time.time()
print(end-start)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0.06029653549194336

### Time Complexity

1) Constant: There is no effect on time even after changing input size. For ex: indexing (random access) in array.

2) Linear: If we double the input the time complexity will also get double. For ex: searching in array

3) Quadratic: If we double the input the time complexity will increase by 4 times. For ex: Nested Loops

4) Logarithmic: If we change the input size then time complexity increases very slowly. For ex: Binary search

5) log linear: If we change the input size then time complexity increases more times as input. For ex: sorting algorithms

6) Exponential: If we change our input by small number then our time complexity will increase drastically. For ex: Hard Problems

In [7]:
number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)

enter the number345
345

# Time complexity

we are divide the number by 10 in every iteration.

if we increase the input 10 times (3450) then time complexity increase by 1 more step. This properties is show by logarithmic complexity.

So, time complexity= O(log n)

In [8]:
L = [1,2,3,4]

sum = 0
for i in L:
  sum = sum + i

product = 1
for i in L:
  product = product*i

print(sum,product)

10 24

# Time complexity

Here 2 loops are running individually. So O(n) +O(n) =O(n)

So, time complexity= O(n)

In [9]:
A = [1,2,3,4]
B = [5,6,7,8]
for i in A:
  for j in B:
    print(i,j)

1 5
1 6
1 7
1 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8

Here, nested loops are running. So O(n*n) =O(n^2)

So, time complexity= O(n^2)

In [11]:
A = [1,2,3,4]
B = [5,6,7,8]

for i in A:
  for j in B:
    for k in range(10):
      print(i,j)

1 5
1 5
1 5
1 5
1 5
1 5
1 5
1 5
1 5
1 5
1 6
1 6
1 6
1 6
1 6
1 6
1 6
1 6
1 6
1 6
1 7
1 7
1 7
1 7
1 7
1 7
1 7
1 7
1 7
1 7
1 8
1 8
1 8
1 8
1 8
1 8
1 8
1 8
1 8
1 8
2 5
2 5
2 5
2 5
2 5
2 5
2 5
2 5
2 5
2 5
2 6
2 6
2 6
2 6
2 6
2 6
2 6
2 6
2 6
2 6
2 7
2 7
2 7
2 7
2 7
2 7
2 7
2 7
2 7
2 7
2 8
2 8
2 8
2 8
2 8
2 8
2 8
2 8
2 8
2 8
3 5
3 5
3 5
3 5
3 5
3 5
3 5
3 5
3 5
3 5
3 6
3 6
3 6
3 6
3 6
3 6
3 6
3 6
3 6
3 6
3 7
3 7
3 7
3 7
3 7
3 7
3 7
3 7
3 7
3 7
3 8
3 8
3 8
3 8
3 8
3 8
3 8
3 8
3 8
3 8
4 5
4 5
4 5
4 5
4 5
4 5
4 5
4 5
4 5
4 5
4 6
4 6
4 6
4 6
4 6
4 6
4 6
4 6
4 6
4 6
4 7
4 7
4 7
4 7
4 7
4 7
4 7
4 7
4 7
4 7
4 8
4 8
4 8
4 8
4 8
4 8
4 8
4 8
4 8
4 8

# Time Complexity
Here 3 loops are running nestedly. So O(n)*O(n)*O(10) =O(10n^2)

So, time complexity= O(n^2)

In [12]:
L = [1,2,3,4,5]

for i in range(0,len(L)//2):
  other = len(L) - i -1
  temp = L[i]
  L[i] = L[other]
  L[other] = temp

print(L)

[5, 4, 3, 2, 1]

# Time Complexity
Loop is running for half size of list (n/2). We are performing 4 operation in the loop. So 4*(n/2)

After ignoring all constants. Time= O(n)

In [ ]:
n = 10
k = 0;
for i in range(n//2,n):
  for j in range(2,n,pow(2,j)):
        k = k + n / 2;

print(k)

40.0

# Time Complexity
Outer loop is running for half size of list (n/2). Inner loop is running for 2 to n but its taking factor of 2 steps after every iteration.

So, time complexity= O(n log n)

In [ ]:
a = 10
b = 3

if b <= 0:
  print(-1)
div = a//b

print(a-div-b)

4

# Time Complexity
No Loops or recursion. So, O(1)

In [ ]:
n = 345

sum = 0
while n>0:
  sum = sum + n%10
  n = n // 10

print(sum)

12

# Time Complexity
we are divide the number by 10 in every iteration.

if we increase the input 10 times (3450) then time complexity increase by 1 more step. This properties is show by logarithmic complexity.

So, time complexity= O(log n)

In [ ]:
def fib(n):
  if n == 1 or n == 0:
    return 1
  else:
    return fib(n-1) + fib(n-2)

# Time Complexity
In recursion problem , we count the no of recursive function calls to impute the time complexity

Here, we can see that for n=3 we calls 8 recursive function and for n=5 we calls 15 recursive function

So, it has exponential time complexity

Time complexity = O(2^n)

In [ ]:
# Subset Algo

# Time Complexity
When factor gets reduced then it becomes the case of log

When factor gets increased then it becomes the case of exponential

So, time complexity= O(2^n)

           {3T(n-1) if n>0
    T(n) = {1, otherwise

           {2T(n-1)-1 if n>0
    T(n) = {1, otherwise