# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data" "Science" "Mentorship" "Program",sep='-',end="-started-")
print("By" "CampusX",sep='-')

DataScienceMentorshipProgram-started-ByCampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
celsius=float(input("Enter a temperature value in degree Celsius: "))
fahrenheit=(9/5)*celsius+32
print(fahrenheit)

Enter a temperature value in Celsius: 0
32.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
# Write your code here
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
# a,b==b,a
temp=a
a=b
b=temp
print("First number:",a,"Second number:",b)

Enter first number: 5
Enter second number: 8
First number: 8 Second number: 5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [4]:
# Write your code here
x1=float(input("Enter ordinate of first coordinate: "))
y1=float(input("Enter abscissa of first coordinate: "))
x2=float(input("Enter ordinate of second coordinate: "))
y2=float(input("Enter abscissa of second coordinate: "))
euclidean_distance=((x1-x2)**2+(y1-y2)**2)**0.5
print(round(euclidean_distance,2))

5.62

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [21]:
# Write your code here
p=float(input("Enter the principal amount: "))
t=int(input("Enter the time period: "))
r=int(input("Enter the rate of interest: "))
SI=(p*r*t)/100
print(SI)

Enter the principal amount: 46533.34
Enter the time period: 3
Enter the rate of interest: 10
13960.002

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [24]:
# Write your code here
heads=int(input("Enter the total no of heads: "))
legs=int(input("Enter the total no of legs: "))
total_chickens=(2*heads)-(0.5*legs)
total_dogs=heads-total_chickens
print("Total_dogs: ",total_dogs,"Total_chickens: ",total_chickens)

Enter the total no of heads: 4
Enter the total no of legs: 12
Total_dogs:  2.0 Total_chickens:  2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [6]:
# Write your code here
n=int(input("Enter a number: "))
sum=(n*(n+1)*(2*n+1))/6
print(sum)

55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [29]:
# Write your code here
a1=int(input("Enter the first term: "))
a2=int(input("Enter the Second term: "))
n=int(input("Enter the number till you want Arithmeric series: "))
d=a2-a1
an=a1+((n-1)*d)
print(an)

Enter the first term: 3
Enter the Second term: 8
Enter the number till you want Arithmeric series: 46
228

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [10]:
# Write your code here
num1=float(input("Enter the numerator of fraction1: "))
deno1=float(input("Enter the denominator of fraction1: "))
num2=float(input("Enter the numerator of fraction2: "))
deno2=float(input("Enter the denominator of fraction2: "))
rn=num1*deno2+num2*deno1
rd=deno1*deno2
print('{}/{}'.format(rn,rd))

47.0/77.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [31]:
# Write your code here
import math
h=float(input("Enter height of tank: "))
w=float(input("Enter width of tank: "))
b=float(input("Enter breadth of tank: "))

height=float(input("Enter height of glass: "))
radius=float(input("Enter radius of glass: "))

volumn_tank=h*w*b
volumn_glass=3.14*radius*radius*height
print("No. of glasses: ",math.floor(volumn_tank/volumn_glass))

Enter height of tank: 20
Enter width of tank: 20
Enter breadth of tank: 20
Enter height of glass: 3
Enter radius of glass: 1
No. of glasses:  849